@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@300&display=swap');

:root{ 
    --cor-primaria--: #000000;
    --cor-secundaria--: #ffffff;
    --font-primaria--: 'Italianno', cursive;
    --font-secundaria--: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

/*----------------------------------HEADER----------------------------------*/

.header{
    background-color: var(--cor-primaria--) ;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 40%;
}

.titulo_header{
    color: var(--cor-secundaria--);
    font-size: 40px;
    font-family: var(--font-primaria--);
}

.opcao_header{
    color: var(--cor-secundaria--);
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font-secundaria--);
}

.opcao_header:hover{
    color: gold;
}

.img_header{
    width: 4%;
    height: 4%; ;
}

/*----------------------------------BODY----------------------------------*/

body{
    background-image: url(../assets/madeira_preta\ .png);
}

.principal{
    width: 97vw;
    height: 100vh;
    
}

.titulo_principal{
    padding: 1rem;
    font-size: 60px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: var(--font-primaria--) ;
}

.imagens_principais{
    margin-left: 8%;
    padding: 6rem;
    display: flex; 
    gap: 5%;
}

.comida{
    width: 400px;
    height: 300px;
}

.imagem_1{
    display: flex;
    color: #ffffff;
    text-align: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
    gap: 25px;
}

.botao{
    padding: 2%;
    width: 8rem;
    border-radius: 5px;
    background-color: rgb(78, 74, 74);
    color: #ffffff;

}

/*----------------------------------FOOTER----------------------------------*/

footer{
    margin-bottom: 0px;
    background-color: var(--cor-primaria--);
    padding: 1rem;
    display: flex;
    align-items: center;  
    gap: 37%;
    
}
